@model ShareResources.User
@{
    ViewBag.Title = "Password Reset";
}

<h2>@ViewBag.Title.</h2>

<style>
    body {
        background-repeat: repeat;
        background-attachment: fixed;
        background-color: lightyellow
    }
</style>

@using (Html.BeginForm("ForgotPassword", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    <div class="form-group">
        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Email", "", new { @class = "form-control" })
            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Name", "", new { @class = "form-control" })
            @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
        </div>
    </div>
    @ViewBag.Status
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
